<div class="modal mt-5" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true"
     [ngClass]="{'show': true}" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editBookModalLabel">Editar Libro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="bookForm" (ngSubmit)="saveBook()">
          <div class="mb-3">
            <label for="bookTitle" class="form-label">Título</label>
            <input type="text" class="form-control" id="bookTitle" [value]="selectedBook?.title" disabled>
          </div>
          <div class="mb-3">
            <label for="bookAuthor" class="form-label">Autor</label>
            <input type="text" class="form-control" id="bookAuthor" [value]="selectedBook?.author" disabled>
          </div>
          <div class="mb-3">
            <label for="bookPublisher" class="form-label">Publicador</label>
            <input type="text" class="form-control" id="bookPublisher" [value]="selectedBook?.publisher" disabled>
          </div>
          <div class="mb-3">
            <label for="bookQuantity" class="form-label">Cantidad</label>
            <input type="number" class="form-control" id="bookQuantity" formControlName="quantity" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cerrar</button>
            <button type="submit" class="btn btn-primary" [disabled]="bookForm.invalid">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
