<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 card text-center">
        <div class="card-header">
          <h3>Gestión de librería</h3>
          <h4>¡Bienvenido! ¿Qué harás el dia de hoy?</h4>
        </div>
        <div class="card-body">
          <button class="btn btn-primary btn-lg mb-3 w-100" (click)="navigateTo('/books')">Administrar libros</button>
          <button class="btn btn-primary btn-lg mb-3 w-100" (click)="navigateTo('/loans')">Administrar préstamos</button>
          <button class="btn btn-primary btn-lg mb-3 w-100" (click)="navigateTo('/students')">Administrar estudiantes</button>
        </div>
      </div>
  </div>
</div>
