<div class="modal mt-5" id="borrowBookModal" tabindex="-1" aria-labelledby="borrowBookModalLabel" aria-hidden="true"
     [ngClass]="{'show': true}" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="borrowBookModalLabel">Prestar Libro a Estudiante</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="closeBorrowModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="borrowBook()">

          <div class="mb-3">
            <label for="book" class="form-label">Libro</label>
            <select id="book" class="form-select" formControlName="book" required (change)="checkBookVisibility()">
              <option *ngFor="let book of books" [value]="book.id">{{ book.title }}</option>
            </select>
          </div>

          <!-- Conditional Rendering of Student Dropdown -->
          <div *ngIf="isBookAvailable" class="mb-3">
            <label for="student" class="form-label">Estudiante</label>
            <select id="student" class="form-select" formControlName="student" required>
              <option *ngFor="let student of students" [value]="student.id">{{ student.firstName }} {{ student.lastName }}</option>
            </select>
            <div class="mb-3">
              <label for="dueDate" class="form-label">Fecha de Devolución</label>
              <input type="date" id="dueDate" class="form-control" formControlName="dueDate" required/>
            </div>
          </div>

          <div *ngIf="!isBookAvailable && form.value.book" class="mb-3">
            <p class="text-danger">Este libro no está disponible para préstamo.</p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeBorrowModal()">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid || !isBookAvailable">Prestar Libro</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
